* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

form {
  border: none;
  box-shadow: none;
  padding:0;
  max-width: unset;
  min-width: unset;
  /* padding: 1.5rem;
  text-align: var(--justify-normal); */
}

body {
background-color: rgb(58, 58, 58);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
